.Login {
  background-color: #833b37;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.PinBox {
  width: 30vmin;
  min-width: 12vmax;
  height: 5vmax;
  margin: 4vmin;
  font-size: 5vmax;
}

.Button {
  width: auto;
  height: auto;
  font-size: calc(18px + 1vw);
  margin-bottom: 20vh;
}