.Login {
  background-color: #833b37;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.PinBox {
  width: 30vw;
  height: 5vw;
  margin: 4vh;
  font-size: calc(10px + 2vmin);
}

.Button {
  width: 20vw;
  height: auto;
  font-size: calc(10px + 2vmin);
  margin-bottom: 20vh;
}