.ListItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 15vh;
  width: 90%;
  border: 2px solid black;
  margin-top: 1vw;
  gap: 5vw;
  background-color: #282c34;
}

.ThumbnailBox {
  position: relative;
  width: 15vh;
  margin-right: 3%;
}

.ThumbnailBox:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.Thumbnail {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.DataItem{
    width: 20vw;
}

.List {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}