.ListItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 15vh;
  width: 90%;
  border: 2px solid black;
  margin-top: 1vw;
  gap: 5vw;
  background-color: #282c34;
}

.Background {
  position: relative;
  height: 15vh;
  width: 15vh;
  min-width: 10vh;
  display: flex;
  align-items: center;
  background-color: white;
}

.ThumbnailBox {
  position: relative;
  width: 100%;
}

.ThumbnailBox:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.Thumbnail {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.DataItem{
  min-width: max(20vw, 15vh);
  width: 30vmin;
  font-size: calc(6px + 2vmin);
}

.QuantityBox{
  width: 12vmin;
  font-size: calc(6px + 2vmin);
}

.List {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}